<app-header-section title="Administra tus almacenes" goToPage="/warehouse"></app-header-section>
<ion-content>
  <ion-row class="ion-padding-horizontal ion-justify-content-between ion-align-items-center">
    <ion-col>
      <div>
        <ion-text>
          <h1>Administracion de Almacenes</h1>
        </ion-text>
        <ion-text color="medium">
          <p>En esta seccion puedes crear y modificar los almacenes que pertenecen a tu tienda</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row class="w-95 m-auto mt-25 ion-padding">
    <ion-row class="w-100">
      <ion-label>Selecciona una sede*</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input"  name="planet-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-select [value]="Wharehouse.idOffice" okText="Aceptar" cancelText="Cancelar" (ionChange)="OnChangeOffice($event)">
              <ion-select-option [value]="0">Sin sede - Almacen Principal</ion-select-option>
              <ion-select-option *ngFor="let item of Offices" [value]="item.idOffice">
                  {{ item.name }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
      </div>
    </ion-row>
    <ion-row class="w-100">
      <ion-label>Codigo</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="barcode-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Codigo del local/oficina" [(ngModel)]="Wharehouse.code" ></ion-input>
          </div>
        </ion-item>
      </div>
    </ion-row>
    <ion-row class="w-100">
      <ion-label>Nombre del almacen</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="apps-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa el nombre de la oficina" [(ngModel)]="Wharehouse.name" ></ion-input>
          </div>
        </ion-item>
      </div>
    </ion-row>
    <div class="w-100 d-flex justify-content-between align-items-center">
      <ion-row class="w-90 mr-15">
        <ion-label>Dirección</ion-label>
        <div class="container-input m-auto w-100">
          <div class="container-icon">
            <ion-icon class="icon-input" name="location-outline"></ion-icon>
          </div>
          <ion-item lines="none" color="none">
            <div class="input-group">
              <ion-input type="text" placeholder="Ingresa la dirección donde se encuentra ubicada la sede" [(ngModel)]="Wharehouse.address"></ion-input>
            </div>
          </ion-item>
        </div>
      </ion-row>
      <ion-button class="custom-cd-button border-green bg-green d-flex justify-content-between align-content-center w-10 mt-15" (click)="save()">
        <ion-icon name="map-outline" class="mr-15"></ion-icon>
        <ion-text>Mapa</ion-text>
      </ion-button>
    </div>
    <ion-row class="w-100">
      <ion-label>Descripcion</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="book-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa una descripcion" maxLength="150" [(ngModel)]="Wharehouse.description" ></ion-input>
          </div>
        </ion-item>
      </div>
    </ion-row>            
    <ion-row class="w-100">
      <ion-col>
        <div class="mt-15 w-100">
          <ion-button class="custom-cd-button border-green bg-green w-100" (click)="save()">
            <ion-text>Guardar cambios</ion-text>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="mt-15 w-100">
          <ion-button class="custom-cd-button without-bg border-green w-100">
            <ion-text>Cancelar</ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
