ion-content{
  background-color:#fff !important;//#f1f4f9;//#f3f4fb;
  --background:#fff !important;//#f1f4f9;//#f3f4fb;
}

.width-sign{
    display: block;
    margin: auto !important;
    width: 95% !important;
}

.showElement{
  display: none !important;
}

@media screen and (min-width: 991px){
    .width-sign{
        display: block;
        margin: auto !important;
        width: 55% !important;
    }
    .showElement{
      display: block !important;
    }
}