<app-header></app-header>
<ion-content>
  <ion-grid class="ion-padding-top ion-padding-horizontal">
    <ion-col>
      <ion-row class="ion-padding-top">
        <ion-title class="ion-text-center" style="font-size:25px !important;">Recupera tu contraseña.</ion-title>
      </ion-row>
      <div class="w-20 m-auto d-flex justify-content-center mb-15">
        <ion-item-divider></ion-item-divider>
      </div>
      <ion-row class="ion-justify-content-center text-center m-auto w-text-rpassword mb-15">
        <ion-text>Ingresa aquí tu nueva contraseña, verifica nuevamente tu contraseña y listo!</ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4">
          <ion-row class="w-100 mb-15">
            <ion-label>Nueva contraseña</ion-label>
            <div class="container-input m-auto w-100">
              <div class="container-icon">
                <ion-icon class="icon-input" name="lock-closed-outline"></ion-icon>
              </div>
              <ion-item lines="none" color="none">
                <div class="input-group">
                  <ion-input [type]="inputType" placeholder="Ingresa una nueva contraseña" [(ngModel)]="password"></ion-input>
                  <button class="custom-cd-button border-green without-bg w-10 buttonViewPassword" (click)="viewPassword()">
                    <ion-icon [name]="iconPassword" style="font-size: 26px !important;"></ion-icon>
                  </button>
                </div>
              </ion-item>
            </div>
          </ion-row>
          <ion-row class="w-100">
            <ion-label>Repetir contraseña</ion-label>
            <div class="container-input m-auto w-100">
              <div class="container-icon">
                <ion-icon class="icon-input" name="lock-closed-outline"></ion-icon>
              </div>
              <ion-item lines="none" color="none">
                <div class="input-group">
                  <ion-input [type]="inputTypeRP" placeholder="confirme la nueva contraseña" [(ngModel)]="repeatPassword"></ion-input>
                  <button class="custom-cd-button border-green without-bg w-10 buttonViewPassword" (click)="viewRPassword()">
                    <ion-icon [name]="iconRPassword" style="font-size: 26px !important;"></ion-icon>
                  </button>
                </div>
              </ion-item>
            </div>
          </ion-row>                              
          <ion-row>
            <div class="mt-15 w-100">
              <ion-button class="custom-cd-button border-green bg-green w-100" (click)="changePassword()">
                <ion-text>Actualizar contraseña</ion-text>
              </ion-button>
            </div>
          </ion-row>
          <ion-row>
            <div class="w-100">
              <ion-button class="custom-cd-button border-green bg-green w-100 without-bg with-border color-green fontWeightBold" (click)="utils.goToPage('/signIn')">
                <ion-text>Iniciar Sesion</ion-text>
              </ion-button>
            </div>
          </ion-row>                           
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
