<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu side="start" menuId="first" contentId="menu-content" class="sidebar">
      <ion-header class="bg-white" *ngIf="login">
        <ion-toolbar mode="md" class="bg-white" class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center w-80 m-auto">
            <img [src]="storeLogoType" class="storeLogoType" />
            <ion-title class="company-name">{{ storesName }}</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <br>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'home' ? 'active-item' : 'item'" (click)="goToPage('/home')" lines="none">
              <ion-icon name="home-outline"></ion-icon>
              <p>Inicio</p>
            </ion-item>
          </div>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signup-shop' ? 'active-item' : 'item'" (click)="goToPage('/signup-shop')" lines="none" *ngIf="!login" >
              <ion-icon name="person-circle-outline"></ion-icon>
              <p>Registrarme</p>
            </ion-item>
          </div>
          <div class="w-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signout' ? 'active-item' : 'item'" (click)="signOut()" lines="none">
              <ion-icon name="storefront-outline"></ion-icon>
              <p>Tiendas</p>
            </ion-item>
          </div>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signin' ? 'active-item' : 'item'" (click)="goToPage('/signin')" lines="none" *ngIf="!login" >
              <ion-icon name="person-outline"></ion-icon>
              <p>Iniciar sesión</p>
            </ion-item>
          </div>
          <div class="d-block w-100">
            <ion-list no-margin class="section-collapse inventorySection" #inventorySection id="inventorySection">
              <ion-item button [ngClass]="currentPath === 'warehouse'? 'active-item' : 'item'" (click)="goToPage('/warehouse')" lines="none" *ngIf="shopType == 1">
                <ion-icon name="cloud-outline"></ion-icon>
                <p>Mis compras</p>
              </ion-item>
              <ion-item button [ngClass]="currentPath === 'units'? 'active-item' : 'item'" (click)="goToPage('/units')" lines="none">
                <ion-icon name="library-outline"></ion-icon>
                <p>Metodos de pago</p>
              </ion-item>
            </ion-list>        
          </div>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signout' ? 'active-item' : 'item'" (click)="signOut()" lines="none" *ngIf="login" >
              <ion-icon name="log-out-outline"></ion-icon>
              <p>Cerrar sesión</p>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
   <ion-router-outlet id="menu-content"></ion-router-outlet>   
  </ion-split-pane>
</ion-app>

