<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu side="start" menuId="first" contentId="menu-content" class="sidebar">
      <ion-header class="bg-white" *ngIf="login">
        <ion-toolbar mode="md" class="bg-white" class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center w-80 m-auto">
            <img [src]="storeLogoType" class="storeLogoType" />
            <ion-title class="company-name">{{ storesName }}</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <br>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'home' ? 'active-item' : 'item'" (click)="goToPage('/home')" lines="none">
              <ion-icon name="home-outline"></ion-icon>
              <p>Inicio</p>
            </ion-item>
          </div>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signup-shop' ? 'active-item' : 'item'" (click)="goToPage('/signup-shop')" lines="none" *ngIf="!login" >
              <ion-icon name="person-circle-outline"></ion-icon>
              <p>Registrarme</p>
            </ion-item>
          </div>
          <div class="w-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signout' ? 'active-item' : 'item'" (click)="signOut()" lines="none">
              <ion-icon name="storefront-outline"></ion-icon>
              <p>Tiendas</p>
            </ion-item>
          </div>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signin' ? 'active-item' : 'item'" (click)="goToPage('/signin')" lines="none" *ngIf="!login" >
              <ion-icon name="person-outline"></ion-icon>
              <p>Iniciar sesión</p>
            </ion-item>
          </div>
          <div class="d-block w-100">
            <ion-list no-margin class="section-collapse inventorySection" #inventorySection id="inventorySection">
              <ion-item button [ngClass]="currentPath === 'warehouse'? 'active-item' : 'item'" (click)="goToPage('/warehouse')" lines="none" *ngIf="shopType == 1">
                <ion-icon name="cloud-outline"></ion-icon>
                <p>Mis compras</p>
              </ion-item>
              <ion-item button [ngClass]="currentPath === 'units'? 'active-item' : 'item'" (click)="goToPage('/units')" lines="none">
                <ion-icon name="library-outline"></ion-icon>
                <p>Metodos de pago</p>
              </ion-item>
            </ion-list>        
          </div>
          <div class="d-block w-100">
            <ion-item button lines="none" color="none" [ngClass]="currentPath === 'signout' ? 'active-item' : 'item'" (click)="signOut()" lines="none" *ngIf="login" >
              <ion-icon name="log-out-outline"></ion-icon>
              <p>Cerrar sesión</p>
            </ion-item>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
   <ion-router-outlet id="menu-content"></ion-router-outlet>   
  </ion-split-pane>
  <div class="container-sidebar-shopping-cart" menuId="shoppingCartSB" id="shoppingCartSB" #shoppingCartSB>
    <div class="sidebar-shopping-cart">
      <div class="w-80 m-auto position-relative">
        <ion-button class="custom-cd-button button-close without-bg">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
        <div class="sidebar-header">
          <h3 class="color-semiDark">Tu carrito de compras</h3>
          <p class="bold">Productos agregados a tu carrito</p>
        </div>
        <div class="sidebar-body">
          <div class="informationDelivery d-block m-auto">
            <div class="w-100 d-flex justify-content-between">
              <p class="order-number bold">#5665998</p>
            </div>
            <div class="w-100 d-block list-product">
              <!-- <div class="d-flex justify-content-between list-pinfo" *ngFor="let item of orderDetail">
                <div class="w-70 list-detail">
                  <p class="product font-small">{{item.productName}}</p>
                  <p class="semiDark cantidad">{{item.qtySold}} Unidad</p>
                </div>
                <div class="w30 info-price">
                  <p class="colorGreen font-small">{{utils.addCurrencyFormat(item.amountSale)}}</p>
                </div>
              </div>
              <div class="w-100" *ngIf="loaded">
                <ion-item *ngFor="let item of loading">
                  <ion-label>
                    <h3>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                      <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
                    </p>
                  </ion-label>
                </ion-item>
              </div> -->
              <div class="d-flex justify-content-between list-pinfo">
                <div class="w-80 list-detail">
                  <p class="product">Hamburguesa doble carne</p>
                  <p class="semiDark cantidad">1 Unidad</p>
                </div>
                <div class="w-20">
                  <p class="colorGreen">$25.000</p>
                </div>
              </div>
              <div class="d-flex justify-content-between list-pinfo">
                <div class="w-80 list-detail">
                  <p class="product">Hamburguesa doble carne</p>
                  <p class="semiDark cantidad">1 Unidad</p>
                </div>
                <div class="w-20">
                  <p class="colorGreen">$25.000</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 d-block container-total m-auto">
            <div class="d-flex justify-content-between cost-detail">
              <div class="w-70 list-detail">
                <p class="product font-small">Sub Total</p>
              </div>
              <div class="w30 info-price">
                <p class="colorGreen font-small">0.0</p>
              </div>
            </div>
            <div class="d-flex justify-content-between cost-detail">
              <div class="w-80 list-detail">
                <p class="product">Costo de domicilio</p>
              </div>
              <div class="w-20 info-price">
                <p class="colorGreen font-small">400.000</p>
              </div>
            </div>
            <div class="d-flex justify-content-between cost-detail">
              <div class="w-70 list-detail">
                <p class="product bold">Total</p>
              </div>
              <div class="w-30 info-price">
                <p class="colorGreen font-small">410.000</p>
              </div>
            </div> 
            <ion-item-divider></ion-item-divider>
            <div class="w-100 m-auto mt-15">
              <ion-button class="custom-cd-button bg-green color-white w-100">
                <ion-text>Ir a pagar</ion-text>
              </ion-button>
            </div>                
          </div> 
        </div>
      </div>
    </div>
  </div>
</ion-app>

