<ion-header>
  <ion-toolbar>
    <div style="display:flex; justify-content:flex-start; align-items:center; margin-left: 10px;">
      <ion-button (click)="closePopUp()" color="white" class="menu-toggle">
        <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-title size="large">Administra tus proveedores</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-padding-horizontal ion-justify-content-between ion-align-items-center">
    <ion-col>
      <div>
        <ion-text>
          <h1>Registro de proveedores</h1>
        </ion-text>
        <ion-text color="medium">
          <p>En esta sección puedes registrar y editar tus proveedores</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row class="w-95 m-auto ion-padding mb-15">
    <ion-row class="w-100 mb-15">
      <ion-label>Nombre *</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="person-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa el nombre del proveedor" [(ngModel)]="Supplier.name"></ion-input>
          </div>
        </ion-item>
      </div>    
    </ion-row>
    
    <ion-row class="w-100 mb-15">
      <ion-label>Apellido *</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="person-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa el apellido del proveedor" [(ngModel)]="Supplier.lastName"></ion-input>
          </div>
        </ion-item>
      </div>    
    </ion-row>

    <ion-row class="w-100 mb-15">
      <ion-label>Documento *</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="document-text-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa el documento del proveedor" [(ngModel)]="Supplier.document"></ion-input>
          </div>
        </ion-item>
      </div>    
    </ion-row>    

    <ion-row class="w-100 mb-15">
      <ion-label>Correo electrónico *</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="mail-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa el correo electrónico del proveedor" [(ngModel)]="Supplier.email"></ion-input>
          </div>
        </ion-item>
      </div>    
    </ion-row>

    <ion-row class="w-100 mb-15">
      <ion-label>Celular *</ion-label>
      <div class="container-input m-auto w-100">
        <div class="container-icon">
          <ion-icon class="icon-input" name="phone-portrait-outline"></ion-icon>
        </div>
        <ion-item lines="none" color="none">
          <div class="input-group">
            <ion-input type="text" placeholder="Ingresa el número de celular del proveedor" [(ngModel)]="Supplier.phone"></ion-input>
          </div>
        </ion-item>
      </div>    
    </ion-row>

    <ion-row class="w-100">
      <ion-col>
        <div class="mt-15 w-100">
          <ion-button class="custom-cd-button border-green bg-green w-100" (click)="save()">
            <ion-text>Guardar proveedor</ion-text>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="mt-15 w-100">
          <ion-button class="custom-cd-button without-bg border-green w-100" (click)="closePopUp()">
            <ion-text>Cancelar</ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>
  <div id="custom-toast" class="custom-toast">
    <div class="panel-left">
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
    </div>
    <div class="panel-right">
      <p class="title" id="title">Éxito</p>
      <p id="message">Se ha realizo la operacion correctamente</p>
    </div>
  </div>
</ion-content>
