<app-header title="Product"></app-header>
<ion-content>
  <!-- Contenedor de la informacion del producto -->
  <ion-grid>
    <ion-row class="container-view-products d-flex justify-content-between align-items-center paddin-top-25 padding-bottom-25">
      <div class="paddin-top-30 panel-left">
        <img [src]="image" class="image-product image-main"/>
        <div class="container-all-images d-flex justify-content-start align-items-center">
          <!-- <div class="box-image active">
            <img src="assets/Images/Products/Shoes/shoes1.jpg" class="image-product mt-45"/>
          </div> -->
          <div class="box-image active" *ngFor="let image of Product.image">
            <img [src]="image.baseFile" class="image-product mt-45"/>
          </div>
          <!-- <div class="box-image">
            <img src="assets/Images/Products/Shoes/shoes1.jpg" class="image-product mt-45"/>
          </div>
          <div class="box-image">
            <img src="assets/Images/Products/Shoes/shoes1.jpg" class="image-product mt-45"/>
          </div>
          <div class="box-image">
            <img src="assets/Images/Products/Shoes/shoes1.jpg" class="image-product mt-45"/>
          </div>
          <div class="box-image">
            <img src="assets/Images/Products/Shoes/shoes1.jpg" class="image-product mt-45"/>
          </div>                                         -->
        </div>
      </div>
      <div class="panel-right" style="height:100%;">
        <div class="d-block w-85 m-auto detail-product">
          <ion-text><h3>{{Product.qty}} Unidades Disponibles</h3></ion-text>
          <ion-text><h2>{{Product.name}}</h2></ion-text>
          <ion-text class="price">{{utils.addCurrencyFormat(Product.salesPrice)}}</ion-text>
          <ion-item-divider></ion-item-divider>
          <ion-text><h3>Color</h3></ion-text>
          <ion-row class="w-90">
            <ion-button *ngFor="let color of Colors" [ngClass]="'custom-cd-button mr-15 mb-15 color-button '+color" style="width: 45px !important;"></ion-button>
            <!-- <ion-button color="secondary" class="custom-cd-button mr-15 mb-15 color-button" style="width: 45px !important;"></ion-button>
            <ion-button color="dark" class="custom-cd-button mr-15 mb-15 color-button" style="width: 45px !important;"></ion-button>
            <ion-button color="success" class="custom-cd-button mr-15 mb-15 color-button" style="width: 45px !important;"></ion-button>
            <ion-button color="warning" class="custom-cd-button mr-15 mb-15 color-button" style="width: 45px !important;"></ion-button>
            <ion-button color="danger" class="custom-cd-button mr-15 mb-15 color-button" style="width: 45px !important;"></ion-button> -->
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-text><h3>Talla</h3></ion-text> 
          <ion-row class="w-90">
            <!-- <button class="custom-cd-button border-green without-bg color-green mr-15 mb-15" style="width: 50px !important;">
              <ion-text>32</ion-text>               
            </button>
            <button class="custom-cd-button border-green without-bg color-green mr-15 mb-15" style="width: 50px !important;">
              <ion-text>34</ion-text>               
            </button>
            <button class="custom-cd-button border-green without-bg color-green mr-15 mb-15" style="width: 50px !important;">
              <ion-text>36</ion-text>               
            </button>
            <button class="custom-cd-button border-green without-bg color-green mr-15 mb-15" style="width: 50px !important;">
              <ion-text>38</ion-text>               
            </button>
            <button class="custom-cd-button border-green without-bg color-green mr-15 mb-15" style="width: 50px !important;">
              <ion-text>40</ion-text>
            </button>
            <button class="custom-cd-button border-green without-bg color-green mr-15 mb-15" style="width: 50px !important;">
              <ion-text>41</ion-text>
            </button> -->
          </ion-row>
          <ion-item-divider></ion-item-divider>
          <ion-row class="w-100 mb-15 mt-15">
            <ion-label>¿Algún comentario?</ion-label>
            <div class="container-input m-auto w-100 input-textarea">
              <ion-item lines="none" color="none" class="item-textarea">
                <div class="input-group">
                  <ion-textarea placeholder="Ej: Lo necesito con aquello"></ion-textarea>
                </div>
              </ion-item>
            </div>
          </ion-row>
          <ion-row class="d-block m-auto w-100">
            <ion-button class="w-100 custom-cd-button without-bg border-green color-green" (click)="addPTocart()" *ngIf="qty <= 0">
              <ion-text>Agregar al carrito</ion-text>
            </ion-button>
            <div class="col d-flex justify-content-between algn-items-center w-100 m-auto" style="transform:translateY(-5px) !important;" *ngIf="qty > 0">
              <ion-button class="custom-cd-button bg-green color-green w30 mr-10" style="transform:translateY(-2px) !important;" (click)="decreaseAmount()">-</ion-button>
              <ion-input type="text" [value]="qty" style="width:40px !important;height:48px !important;border:1px solid #cecece;border-radius: 6px;text-align: center;"></ion-input>
              <ion-button class="custom-cd-button bg-green color-green w30 ml-10" style="transform:translateY(-2px) !important;" (click)="increaseAmount()">+</ion-button>                
            </div>
            <ion-button class="w-100 custom-cd-button bg-green border-green color-white" (click)="utils.goToPage('/finalize-order')">
              <ion-text>Comprar</ion-text>
            </ion-button>
          </ion-row>
        </div>
      </div>
    </ion-row>
    <ion-item-divider></ion-item-divider>
    <!-- Detalle del producto y informacion del vendedor -->
    <ion-row class="w-90 m-auto">
      <div class="ion-padding-horizontal container-description-product">
        <ion-row class="fullWidth">
          <ion-text>
            <h4>Descripcion del producto</h4>
          </ion-text>
          <ion-text color="medium">
            <p>{{Product.description}}</p>
          </ion-text>
        </ion-row>
        <ion-row class="fullWidth">
          <!-- <ion-text>
            <h4>Detalles del producto</h4>
          </ion-text>
          <ion-text color="medium">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit explicabo expedita praesentium impedit eum. Laborum nostrum mollitia eos nulla necessitatibus, quaerat soluta omnis cum sapiente?</p>
          </ion-text> -->
        </ion-row>
        <ion-row class="fullWidth">
          <ion-text>
            <h4>Garantia del producto</h4>
          </ion-text>
          <!-- <ion-text color="medium">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit explicabo expedita praesentium impedit eum. Laborum nostrum mollitia eos nulla necessitatibus, quaerat soluta omnis cum sapiente?</p>
          </ion-text> -->
        </ion-row>
      </div>
      <div class="ion-padding-horizontal container-payment-method">
        <!--- <ion-text>
          <h4>Información del vendedor</h4>
        </ion-text> 
        <ion-row>
          <ion-row class="ion-justify-content-start ion-align-items-center">
            <ion-icon name="person-outline"></ion-icon>
            <ion-text> 
              <h4>Nancy Store</h4>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text color="medium">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, amet esse aliquid ducimus quis odio. Placeat aliquam, culpa sint iure ea rerum magni sed illo.</p>
            </ion-text>
          </ion-row>
        </ion-row>
        <div size="12">
          <ion-row size="12" class="ion-justify-content-start ion-align-items-center">
            <ion-icon name="location-outline"></ion-icon>
            <ion-text> 
              <h4>Ubicación</h4>
            </ion-text>
          </ion-row>
          <ion-text color="medium">
            <p>Cra 33a #39-34</p>
          </ion-text>
          <ion-text color="medium">
            <p>Cali - Valle del cauca</p>
          </ion-text>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.713878489362!2d-76.50640618584339!3d3.4197197523848266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6df3efc8b4f%3A0xc38e9120d6f5253c!2sCra.%2033a%20%2339-34%2C%20Cali%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1581387941131!5m2!1ses!2sco" style="border:0;margin-bottom: 8px;" allowfullscreen="" width="500" height="250" frameborder="0"></iframe>
        </div>
        <ion-item-divider></ion-item-divider> -->
        <div size="12">
          <ion-text>
            <h4>Metodos de pago</h4>
          </ion-text>
          <ion-text color="medium">
            <p>Tarjetas de credito</p>
          </ion-text>
        </div>
        <div size="12">
          <ion-text color="medium">
            <p>Efectivo en puntos de pago</p>
          </ion-text>
        </div>
        <div size="12">
          <ion-text color="medium">
            <p>Contrate entrega</p>
          </ion-text>
        </div>
      </div> 
    </ion-row>    
  </ion-grid>
</ion-content>
